<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>cwiczenie 01</title>
</head>

<body id="bd01">
    <div id="menu01">
        <br><Br>
        <a href="/upload">
            <h2><u class="od001">Wyślij Pliki</u></h2>
        </a>
        <a href="/filemanager">
            <h2><u class="od001">Menager Plików </u></h2>
        </a>
        {{!-- <a href="/upload"></a>
        <h2><u class="od001">Dane Szczegółowe</u></h2></a> --}}
    </div>
    <div>
        {{{body}}}
    </div>



</body>

</html>